# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

app-example

.env
/android/build/
/android/app/build/
/android/app/src/main/assets/app.manifest
/android/app/src/main/assets/main.jsbundle
/android/app/src/main/assets/index.android.bundle
/android/app/src/main/assets/metadata.json
/android/.gradle/
/android/app/*.apk
/android/app/*.aab
/android/local.properties

# Gradle cache (if it appears at the root)
.gradle/

# IntelliJ IDEA files (if you use it)
.idea/
*.iml